@mixin direction($value) {
  @if not $rtl {
    @if ($value == "ste") {
      direction: ltr;
    }
    @else if ($value == "ets") {
      direction: rtl;
    }
    @else {
      direction: $value;
    }
  }
  @else {
    @if ($value == "ste") {
      direction: rtl;
    }
    @else if ($value == "ets") {
      direction: ltr;
    }
    @else {
      direction: $value;
    }
  }
}




@mixin end($value) {
  @if not $rtl {
    right: $value;
  }
  @else {
    left: $value;
  }
}

@mixin start($value) {
  @if not $rtl {
    left: $value;
  }
  @else {
    right: $value;
  }
}


@mixin padding-start($value) {
  @if not $rtl {
    padding-left: $value;
  }
  @else {
    padding-right: $value;
  }
}

@mixin padding-end($value) {
  @if not $rtl {
    padding-right: $value;
  }
  @else {
    padding-left: $value;
  }
}



@mixin margin-start($value) {
  @if not $rtl {
    margin-left: $value;
  }
  @else {
    margin-right: $value;
  }
}

@mixin margin-end($value) {
  @if not $rtl {
    margin-right: $value;
  }
  @else {
    margin-left: $value;
  }
}


@mixin border-start($value) {
  @if not $rtl {
    border-left: $value;
  }
  @else {
    border-right: $value;
  }
}

@mixin border-end($value) {
  @if not $rtl {
    border-right: $value;
  }
  @else {
    border-left: $value;
  }
}

@mixin text-align($value) {
  @if not $rtl {
    @if ($value == start) {
      text-align: left;
    }
    @else if ($value == end) {
      text-align: right;
    }
    @else {
      text-align: $value;
    }
  }
  @else {
    @if ($value == start) {
      text-align: right;
    }
    @else if ($value == end) {
      text-align: left;
    }
    @else {
      text-align: $value;
    }
  }
}

@mixin float($value) {
  @if not $rtl {
    @if ($value == start) {
      float: left;
    }
    @else if ($value == end) {
      float: right;
    }
    @else {
      float: $value;
    }
  }
  @else {
    @if ($value == start) {
      float: right;
    }
    @else if ($value == end) {
      float: left;
    }
    @else {
      float: $value;
    }
  }
}
