@mixin direction($value) {
  @if ($rtl-support == 0) {
    @if ($value == "ste") {
      direction: ltr;
    }
    @else if ($value == "ets") {
      direction: rtl;
    }
    @else {
      direction: $value;
    }
  }
  @else if ($rtl-support == 1) {
    @if ($value == "ste") {
      direction: rtl;
    }
    @else if ($value == "ets") {
      direction: ltr;
    }
    @else {
      direction: $value;
    }
  }
  @else if ($rtl-support == 2) {
    [dir="ltr"] & {
      @if ($value == "ste") {
        direction: ltr;
      }
      @else if ($value == "ets") {
        direction: rtl;
      }
      @else {
        direction: $value;
      }
    }
    [dir="rtl"] & {
      @if ($value == "ste") {
        direction: rtl;
      }
      @else if ($value == "ets") {
        direction: ltr;
      }
      @else {
        direction: $value;
      }
    }
  }
}




@mixin end($value) {
  @if ($rtl-support == 0) {
    right: $value;
  }
  @else if ($rtl-support == 1) {
    left: $value;
  }
  @else if ($rtl-support == 2) {
    [dir="ltr"] & {
      right: $value;
    }
    [dir="rtl"] & {
      left: $value;
    }
  }
}

@mixin start($value) {
  @if ($rtl-support == 0) {
    left: $value;
  }
  @else if ($rtl-support == 1) {
    right: $value;
  }
  @else if ($rtl-support == 2) {
    [dir="ltr"] & {
      left: $value;
    }
    [dir="rtl"] & {
      right: $value;
    }
  }
}


@mixin padding-start($value) {
  @if ($rtl-support == 0) {
    padding-left: $value;
  }
  @else if ($rtl-support == 1) {
    padding-right: $value;
  }
  @else if ($rtl-support == 2) {
    [dir="ltr"] & {
      padding-left: $value;
    }
    [dir="rtl"] & {
      padding-right: $value;
    }
  }
}

@mixin padding-end($value) {
  @if ($rtl-support == 0) {
    padding-right: $value;
  }
  @else if ($rtl-support == 1) {
    padding-left: $value;
  }
  @else if ($rtl-support == 2) {
    [dir="ltr"] & {
      padding-right: $value;
    }
    [dir="rtl"] & {
      padding-left: $value;
    }
  }
}



@mixin margin-start($value) {
  @if ($rtl-support == 0) {
    margin-left: $value;
  }
  @else if ($rtl-support == 1) {
    margin-right: $value;
  }
  @else if ($rtl-support == 2) {
    [dir="ltr"] & {
      margin-left: $value;
    }
    [dir="rtl"] & {
      margin-right: $value;
    }
  }
}

@mixin margin-end($value) {
  @if ($rtl-support == 0) {
    margin-right: $value;
  }
  @else if ($rtl-support == 1) {
    margin-left: $value;
  }
  @else if ($rtl-support == 2) {
    [dir="ltr"] & {
      margin-right: $value;
    }
    [dir="rtl"] & {
      margin-left: $value;
    }
  }
}


@mixin border-start($value) {
  @if ($rtl-support == 0) {
    border-left: $value;
  }
  @else if ($rtl-support == 1) {
    border-right: $value;
  }
  @else if ($rtl-support == 2) {
    [dir="ltr"] & {
      border-left: $value;
    }
    [dir="rtl"] & {
      border-right: $value;
    }
  }
}

@mixin border-end($value) {
  @if ($rtl-support == 0) {
    border-right: $value;
  }
  @else if ($rtl-support == 1) {
    border-left: $value;
  }
  @else if ($rtl-support == 2) {
    [dir="ltr"] & {
      border-right: $value;
    }
    [dir="rtl"] & {
      border-left: $value;
    }
  }
}

@mixin text-align($value) {
  @if ($rtl-support == 0) {
    @if ($value == start) {
      text-align: left;
    }
    @else if ($value == end) {
      text-align: right;
    }
    @else {
      text-align: $value;
    }
  }
  @else if ($rtl-support == 1) {
    @if ($value == start) {
      text-align: right;
    }
    @else if ($value == end) {
      text-align: left;
    }
    @else {
      text-align: $value;
    }
  }
  @else if ($rtl-support == 2) {
    [dir="ltr"] & {
      @if ($value == start) {
        text-align: left;
      }
      @else if ($value == end) {
        text-align: right;
      }
      @else {
        text-align: $value;
      }
    }
    [dir="rtl"] & {
      @if ($value == start) {
        text-align: right;
      }
      @else if ($value == end) {
        text-align: left;
      }
      @else {
        text-align: $value;
      }
    }
  }
}

@mixin float($value) {
  @if ($rtl-support == 0) {
    @if ($value == start) {
      float: left;
    }
    @else if ($value == end) {
      float: right;
    }
    @else {
      float: $value;
    }
  }
  @else if ($rtl-support == 1) {
    @if ($value == start) {
      float: right;
    }
    @else if ($value == end) {
      float: left;
    }
    @else {
      float: $value;
    }
  }
  @else if ($rtl-support == 2) {
    [dir="ltr"] & {
      @if ($value == start) {
        float: left;
      }
      @else if ($value == end) {
        float: right;
      }
      @else {
        float: $value;
      }
    }
    [dir="rtl"] & {
      @if ($value == start) {
        float: right;
      }
      @else if ($value == end) {
        float: left;
      }
      @else {
        float: $value;
      }
    }
  }
}
